/*
Error: File to import not found or unreadable: bulma/components/breadcrumb.sass.
        on line 8 of bulma.sass

3: @import "sass/utilities/_all"
4: @import "sass/base/_all"
5: @import "sass/elements/_all"
6: 
7: //importing components
8: @import "bulma/components/breadcrumb.sass"
9: @import "bulma/components/card.sass"
10: 
11: // Custom variables related to components/dropdown.sass
12: $dropdown-content-background-color: #3B739E
13: $dropdown-content-arrow: none

Backtrace:
bulma.sass:8
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/import_node.rb:45:in `import'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Users/harry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.24/bin/sass:13:in `<top (required)>'
/Users/harry/.rbenv/versions/2.2.3/bin/sass:23:in `load'
/Users/harry/.rbenv/versions/2.2.3/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bulma/components/breadcrumb.sass.\A         on line 8 of bulma.sass\A \A 3: @import \"sass/utilities/_all\"\A 4: @import \"sass/base/_all\"\A 5: @import \"sass/elements/_all\"\A 6: \A 7: //importing components\A 8: @import \"bulma/components/breadcrumb.sass\"\A 9: @import \"bulma/components/card.sass\"\A 10: \A 11: // Custom variables related to components/dropdown.sass\A 12: $dropdown-content-background-color: #3B739E\A 13: $dropdown-content-arrow: none"; }
